@import susy

// grid
$container-style: magic
$total-columns: 8
$column-width: 4em
$gutter-width: 1em
$grid-padding: 0
$base-font-size: 14px

// page

.page
    +container()
    //@include susy-grid-background

header, 
#header-slideshow, 
.main,
#main-navigation
    +span-columns($total-columns omega)


// anfertigungen

img.col
    +box-sizing(border-box)

.col
    &.full
        +span-columns($total-columns omega)
    &.left
        +span-columns(4)    

    &.right
        +span-columns(4 omega)
    
    &.big
        +span-columns(5)

    &.small
        +span-columns(3 omega)
    