@import susy

// grid
$container-style: magic
$total-columns: 8
$column-width: 60px
$gutter-width: 10px
$grid-padding: 0
$base-font-size: 14px

$break: 12

// page

.page
    +container($total-columns, $break)

.col
    +span-columns($total-columns/2)
    +nth-omega(2n)

.col.full
    +span-columns($total-columns)

#flickr-sets
    // ul
    //     +container()

    li
        +span-columns($total-columns/2)
        +nth-omega(2n)

        &.active
            +span-columns($total-columns omega)

    .pictures-in-set
        img
            width: 25%


+at-breakpoint($break)
    #toggle-nav
        display: none

    #main-navigation
        +pie-clearfix
        +box-sizing(border-box)
        position: relative
        display: block
        padding: 0
        +box-shadow(none)

        li
            float: left

            &:first-child a
                padding-top: .3em

        a
            border: none
            padding: .3em .5em

            &:hover, &.active
                padding-left: .5em
                background-color: white
                color: $primary-color

    .ueber_mich .col.full,
    #kurszeiten,
    #kontakt
        +span-columns($break/2)

    .ueber_mich .col.full:last-of-type,
    #kontakt
        +omega    

    #flickr-sets
        li
            +remove-nth-omega(2n)
            +span-columns($break/4)
            +nth-omega(4n)

        .pictures-in-set
            img
                width: 12.5%