// defaults
.flex-pauseplay span
    text-transform: capitalize

.slides,
.flex-control-nav,
.flex-direction-nav
    margin: 0
    padding: 0
    list-style: none

.flexslider
    position: relative
    margin: 0
    padding: 0

    a:active,
    a:focus
        outline: none

    .slides
        +pie-clearfix

        & > li
            display: none
            -webkit-backface-visibility: hidden

        img
            width: 100%
            display: block

// weird hacks
html[xmlns] .slides
    display: block

* html .slides
    height: 1%

// no-js fallback
.no-js .slides > li:first-child
    display: block


// styling
.flex-control-nav
    position: absolute
    left: 1em
    bottom: .2em
    z-index: 10

    li
        display: inline-block
        margin-right: 4px

    a
        cursor: pointer
        color: rgba(255, 255, 255, .6)
        display: block
        text-indent: -9999px
        width: 5px
        height: 5px
        border: 1px solid
        border-radius: 10px

        &.flex-active
            background-color: $primary-color