---
menu_title: Aktuelles
menu_order: 2
---

<h1 class="page-title">Aktuelles</h1>

<article class="news-entry">
    <div class="article-head">
        <h2>Sommerpause</h2>
        <span class="date">08.09.2013</span>
    </div>

    <p>Liebe Goldschmiedefreunde, </p>
    <p>zurück aus der Sommerpause, beginnen ab morgen wieder die Goldschmiedekurse.</p>
    <p>Ihre Katharina Böhme</p>
</article>