---
menu_title: Aktuelles
menu_order: 2
---

<h1 class="page-title">Aktuelles</h1>

<article class="news-entry">
    <div class="article-head">
        <h2>Leverkusener Kunstnacht</h2>
        <span class="date">17.09.2013</span>
    </div>

    <a href="http://www.kunstnacht-lev.de/" target="_blank">
      <%= tag :img, :src => "files/kunstnacht_2013.png", :alt => "9. Leverkusener Kunstnacht", :class => "news-pic" %>
    </a>
    <p class="excerpt">Es ist wieder soweit - die 9. Leverkusener Kunstnacht steht vor der Tür.</p>
    <p>Am <strong>11. Oktober</strong> von 18:00 bis 24:00 Uhr öffnet die Schmuckwerkstatt zusammen mit vielen anderen Galerien, Ateliers und Museen ihre Türen.</p>
    <p>Ich freue mich auf Ihren Besuch!</p>
    <p>Ihre Katharina Böhme</p>
</article>

<article class="news-entry">
    <div class="article-head">
        <h2>Radio Leverkusen</h2>
        <span class="date">15.09.2013</span>
    </div>

    <p>Liebe Goldschmiedefreunde, </p>
    <p>die Schmuckwerkstatt war kürzlich bei Radio Leverkusen zu hören. Für alle die sich gern den Beitrag noch einmal anhören möchten, gibt es diesen nun hier zum Download.</p>
    <p><a href="/files/radio_leverkusen.mp3" alt="Radio Leberkusen Beitrag">Zum Beitrag</a></p>
</article>

<article class="news-entry">
    <div class="article-head">
        <h2>Sommerpause</h2>
        <span class="date">08.09.2013</span>
    </div>

    <p>Liebe Goldschmiedefreunde, </p>
    <p>zurück aus der Sommerpause, beginnen ab morgen wieder die Goldschmiedekurse.</p>
    <p>Ihre Katharina Böhme</p>
</article>