---
menu_title: Aktuelles
menu_order: 2
---

<h1 class="page-title">Aktuelles</h1>

<article class="news-entry">
    <div class="article-head">
        <h2>Neue Werkstatträume</h2>
        <span class="date">16.03.2014</span>
    </div>

    <a href="http://www.fischer-trauringe.de" target="_blank">
        <%= tag :img, :src => "images/aktuelles/neue-werkstatt.jpg", :alt => "Neue Werkstatt", :class => "news-pic" %>
    </a>

    <p class="excerpt">Die Schmuckwerkstatt ist umgezogen.</p>
    <p>Ab heute finden Sie die Schmuckwerkstatt auf der anderen Seite der Mühlheimerstraße in brandneuen Räumen.</p>

    <p>Ich freue mich auf Ihren Besuch</p>

    <p>- Ihre Katharina Böhme</p>
</article>


<article class="news-entry">
    <div class="article-head">
        <h2>Er, Sie - Wir!</h2>
        <span class="date">16.03.2014</span>
    </div>

    <a href="http://www.fischer-trauringe.de" target="_blank">
        <%= tag :img, :src => "images/aktuelles/fischer-trauring-konfigurator.jpg", :alt => "Fischer Trauring Konfigurator", :class => "news-pic" %>
    </a>

    <p class="excerpt">Trauringe selbst machen in der Schmuckwerkstatt.</p>
    <p>Persönliche Trauringe für den besonderen Tag.</p>
    <p>Kommen Sie vorbei und gestalten ihre individuellen Trauringe.</p>
    <h3>Jetzt Neu in der Schmuckwerkstatt:</h3>
    <p>Fischer Trauringe mit Trauringkonfigurator.</p>
    <p><a href="http://www.fischer-trauringe.de" target="_blank">Fischer Trauringe</a></p>

    <p>Ich freue mich auf Ihren Besuch</p>

    <p>- Ihre Katharina Böhme</p>
</article>
