---
menu_title: Anfertigungen & Umarbeitungen
menu_order: 4
---

<h1 class="page-title">Anfertigungen/Umarbeitungen</h1> 

<%= tag :img, :src => "images/bunte-perlen.jpg", :alt => "Bunte Perlenkette", :class => "float-right one-third" %>

<p>In meiner Schmuck-Werkstatt berate ich Sie gern in allen anfallenden Goldschmiedefragen:</p>

<ul>
    <li>Umarbeitung alter Schmuckstücke</li>    
    <li>Neuanfertigungen nach Ihren Wünschen</li>       
    <li>Reparaturen von Schmuckstücken</li>     
    <li>Reinigen und Aufpolieren</li>       
    <li>Perlketten knoten</li>  
</ul>   

<p class="red-box clear-float">Ich kaufe Ihr Altgold zu fairen Preisen.</p> 