---
menu_title: Goldschmiedekurse
menu_order: 2
---

<h1 class="page-title">Goldschmiedekurse</h1>

<p>Wollten Sie schon immer Ihren eigenen Schmuck entwerfen und anfertigen? Möchten Sie selbst kreativ sein, um das eigene Schmuckstück mit Stolz tragen zu können?</p> 

<p>Mit etwas Geduld ist es für jeden – auch ohne Vorkenntnisse – möglich, sein individuelles Schmuckstück in der Schmuck-Werkstatt selbst zu fertigen.</p>

<p>Die Goldschmiedekurse, die ich Ihnen in meiner komplett eingerichteten Schmuck-Werkstatt anbiete, sollen aus Ihnen keine/n perfekte/n Fachfrau/mann machen, sondern Ihnen Spaß und Erfahrung im Umgang mit edlen Metallen und Steinen vermitteln.</p> 

<p>Wir arbeiten in kleinen Gruppen á vier Personen mit Materialien wie:</p>

<ul>
    <li>Gold– / Silberblech</li>
    <li>Silberdraht</li>
    <li>Verschiedene Arten von Edelsteinen.</li>
</ul> 

<p>Material und Steine können einfach in der Schmuck-Werkstatt erworben werden.
</p>