---
menu_title: Aktuelles
menu_order: 1
---

<h1 class="page-title">Aktuelles</h1>

<article class="news-entry">
    <div class="article-head">
        <h2>Frühlings-Angebot</h2>
        <span class="date">2.04.2013</span>
    </div>

    <p class="excerpt">Kreatives Frühlingserwachen:</p>

    <p>Neue Goldschmiedekurse auch den Nachmittagen. Vereinbaren Sie eine Schnupperstunde in der Schmuck-Werkstatt.</p>
</article>

<article class="news-entry">
    <div class="article-head">
        <h2>Oster-Spezial</h2>
        <span class="date">2.03.2013</span>
    </div>

    <%= tag :img, :src => "images/aktuelles/oster-ei.png", :alt => "Ostern 2013", :class => "float-right" %>

    <p class="excerpt">Der Winter geht und es wird langsam aber sicher Frühling.</p>

    <p>Passend dazu gibt es in der Schmuckwerkstatt als Oster Spezial Kurskarten mit 10% Rabatt!</p>
</article>

<article class="news-entry">
    <div class="article-head">
        <h2>Weihnachtsausstellung</h2>
        <span class="date">4.11.2012</span>
    </div>

    <p class="excerpt">Am 7. Dezember 2012 findet bei uns in der Werkstatt unsere Weihnachtsausstellung statt.</p>
    <p>Beginn ist um 16:00 Uhr (Ende offen).</p>
    <p>Zur Einstimmung auf weihnachtliche Gefühle besucht uns die Geschichten-Erzählerin Veronica Uhlich, die von Glück, Schätzchen und Weihnachten erzählen wird (<a href="http://www.maerchenhimmel.de" target="_blank">www.maerchenhimmel.de</a>).</p>
</article>

<article class="news-entry">
    <div class="article-head">
        <h2>Leverkusener Kunstnacht</h2>
        <span class="date">8.10.2012</span>
    </div>

    <p class="excerpt">Liebe Goldschmiede Freunde,</p>

    <%= tag :img, :src => "images/aktuelles/Leverkusener-Kunstnacht.png", :alt => "Leverkusener Kunstnacht", :class => "float-right" %>

    <p>Beginn ist um 16:00 Uhr (Ende offen).</p>
    <p>Am <strong>26. Oktober</strong> findet die 8. Leverkusener Kunstnacht statt, an welche auch die Schmuckwerkstatt Böhme teilnehmen wird.</p>

    <p>Info Material dazu erhalten Sie bei mir in der Werkstatt</p>
</article>
