---
menu_title: Kontakt & Termine
menu_order: 7
---

<div class="col left">

    <h1>Kurszeiten</h1>
    
    <p>
        <span class="kursTag">Montag:</span> 10 – 12 Uhr    &amp; 19 – 21 Uhr <br>
        <span class="kursTag">Dienstag: </span> 10 – 12 Uhr &amp; 18 – 20 Uhr <br>
        <span class="kursTag">Mittwoch: </span> 10 – 12 Uhr &amp; 19 – 21 Uhr <br>
    </p>
    <p>Ansonsten Termin nach Vereinbarung
    </p>
    
    <p>Anmeldungen bitte telefonisch oder per E-Mail.</p>
    
    <h1>Öffnungzeiten</h1>
    
    <p>Montag - Mittwoch<br>
    10:00 – 13:00  15:00 – 19:00 Uhr</p>  
    
    <h1>Kursgebühren</h1>
    <ul>
        <li>Wochenendkurs 140,-€</li>
        <li>6x Termine: 120,-€</li>
        <li>12x Termine: 220,-€</li>
    </ul>

    <h2>Wochenendkurse 2012</h2>
    
    <p>Termine nach Vereinbarung.</p>
    
    <p>Wochenendekurse finden statt ab einer min. Teilnehmerzahl von zwei Personen.</p>
</div>

<div class="col right">
    <h2>Kontakt</h2>
    
    <p>Katharina Böhme<br>
    Goldschmiedin</p>

    <p>Mülheimer Str.27<br>
    51375 Leverkusen</p>

    <p>Tel: 0214-3126369<br>
    Mobil: 0173-6771074</p>
    
    <p>
        Email: <a href="mail@katharinaboehme.de">mail@katharinaboehme.de</a>
    </p>
    
    
    <h3>Kontoverbindung</h3>
    
    <p>Katharina Böhme<br>
    Sparkasse Leverkusen<br>
    BLZ:375 514 40<br>
    Konto: 105020358
    </p>
    
    <h3>Allgemeine Geschäftsbedingungen</h3>
    
    <p>die Allgemeinen Geschäftsbedingungen finden Sie <%= link_to "hier", "files/agb.pdf" %> </p>
</div>