---
menu_title: Trauringberatung
menu_order: 3
---
        
<h1 class="page-title">Trauringberatung</h1>  

<p><strong class="italic">„Ja, ich will!“</strong> – Trauringe haben einen hohen Symbolwert. Noch mehr:  Wenn sie selbst gemacht worden sind, haben sie eine unvergessliche Bedeutung!</p>  

<%= tag :img, :src => "images/trauringe.jpg", :class => "float-right" %>

<p>Unter meiner fachkundigen Anleitung fertigen Sie Ihre Trauringe an einem Samstag in meiner Schmuck-Werkstatt an. Nur Sie beide - Er für Sie und Sie für Ihn!</p>  

<p>Gern machen wir auch Fotos von der Schaffensphase; die ersten Seiten in Ihrem Hochzeits-Fotoalbum sind reserviert für die Entstehung Ihrer individuellen Trauringe.</p>  

<h2>Trauringe selbst gemacht</h2>  

<p>Sie entscheiden selbst, aus welchem Material Sie Ihre Ringe fertigen werden, einfarbig oder in einer Kombination aus Weißgold und/oder Gelbgold.  Sie bestimmen auch, welche Form, Breite und Oberfläche Ihre Ringe erhalten sollen.</p>