---
menu_title: Über Mich
menu_order: 5
---
        
<div id="infobox-wrapper"> 
    <%= tag :img, :src => "images/katharina-boehme.jpg", :alt => "Katharina Böhme" %>
    
    <div id="infobox_right">
        <h4>Katharina Böhme</h4>
        <h5>Goldschmiedin</h5>
        
        <ul>
            <li>1984 Gesellenprüfung staatl. Zeichenakademie Hanau</li>
            <li>1990 selbständig: Goldschmiedeatelier „Schmuck-Heute“ bis 2003</li>
            <li>1995-99 Weiterbildung bei der Handwerkskammer zu Köln, Betriebswirtin des Handwerks</li>
            <li>ab Jan 2006 Goldschmiede-Kurse</li>
        </ul>  
    </div> 
</div>

<h1>Über Mich</h1>

<p>Viele kennen mich vielleicht noch aus der Zeit, als ich das Goldschmiedeatelier „Schmuck-Heute“ führte, sowohl hier in Schlebusch als auch später in Opladen.</p>

<p>Seit fünf Jahren gebe ich nun Goldschmiedekurse.</p>

<p>Die Möglichkeit, die Goldschmiedekunst anderen näher zu bringen, macht mir sehr viel Freude. Es ist immer wieder schön zu sehen, wie sich Fertigkeiten festigen und erste Schmuckstücke entstehen, die mit Stolz getragen werden. Kursteilnehmer, die anfangs an ihrem Talent zum Goldschmieden gezweifelt haben, sind stets positiv überrascht, welche Fähigkeiten und welches Gefühl für dieses Handwerk sie entwickeln können.</p>

<p>Die Fotos auf meiner Website sprechen für sich – alle diese Schmuckstücke wurden von meinen Kursteilnehmern gefertigt!</p>